@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 6px;
}

body.scrolling ::-webkit-scrollbar-thumb {
  background: #888;
}

body.scrolling ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: none;
}

body.scrolling * {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.scroll-adjust {
  scroll-margin-top: 50px; /* Ajusta este valor según sea necesario */
}
select:required:invalid {
  color: #9e9e9e; /* Color gris para el placeholder */
}
option[value=""][disabled] {
  display: none; /* Esconde el placeholder cuando el select está abierto */
}
option {
  color: white; /* Color negro para las opciones */
}